.header {
    background-color: red;
    color: yellow;
}

.header h1 {
    margin-top: 0;
}

.header-lists {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    background-color: green;
}

.header-lists-list {
    display: flex;
    list-style-type: none;
    gap: 40px;
    background-color: blueviolet;
}