.header {
    background-color: darkblue;
    color: yellow;
}

.header h1 {
    margin-top: 0;
}

.header-lists {
    display: flex;
    background-color: green;
}

.header-lists-list {
    display: flex;
    background-color: blueviolet;
}