* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  background: url(../public/assets/blaze-fire.jpg) no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% -67%;
  color: yellow;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

/* #main{
  padding-bottom: 40px;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}